 /* Always set the map height explicitly to define the size of the div
 * element that contains the map. */


 #map {
    height: 600px;
}


/* Optional: Makes the sample page fill the window. */
html, body {
    height: 100%;
    margin: 0;
    padding: 0;
}

#map-filter {
    position: absolute;
    top: 60px;
    height: 180px;
    left: 10pt;
    width: 175px;
    background-color: white;
}
#right-panel {
  margin-top: 5%;
  border-radius: 10px;
  border: 2px solid #f0f1f4;
}

#right-panel .header {
  background-color: #5a6268;
  color: white;
  text-align: center;
  border-radius: 5px;
}

#map-directions-content {
  
  overflow-y: scroll;
  height: 400px;
}

.custom-directions{
  margin: 0 !important;
  float: right;
}

.custom-direction-submit{
  margin-top: 2%;
}

 
  
  
  @media print {
    #map {
      height: 500px;
      margin: 0;
    }
  }


  @media only screen and (max-width: 1200px) {
    #map {
        width: 100%;
    }
    #map-filter {
        position: relative;
        left: 0;
        margin-bottom: 10%;
        top: 10pt;
    }
    #right-panel {
        width: 100%;
    }
  }